.list-request-usage-page {
    width: 100%;
    margin-left: 315px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 50px;
}
.action-container .num-requests {
    width: 100%;
    text-align: right;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 17px;
}
.action-container .search-box {
    position: relative;
}
.action-container .search-box input {
    width: 350px;
    box-sizing: border-box;
    font-size: 16px;
    height: 38px;
    padding: 1px 35px 0 15px;
    border-radius: 8px;
    border: none;
}
.action-container .search-box img {
    position: absolute;
    top: 11px;
    right: 15px;
    width: 15px;
}
.list-request-usage-page .select-month {
    position: absolute;
    top: 105px;
    box-sizing: border-box;
    font-size: 16px;
    height: 38px;
    padding: 1px 15px 0 15px;
    border-radius: 8px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
.list-request-usage-page .select-month::-webkit-calendar-picker-indicator {
    background-image: url('../../assets/Calendar.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    opacity: 1;
    cursor: pointer;
}
.status-accept {
    background-color: #05a442;
    color: white;
    padding: 8px 32px;
    border-radius: 16px;
    font-weight: 600;
    text-align: center;
}
.status-pending {
    background-color: #f0b728;
    color: white;
    border-radius: 16px;
    padding: 8px 7px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.status-refuse {
    background-color: #c83636;
    color: white;
    border-radius: 16px;
    padding: 8px 27px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.filter-usage-department {
    left: 515px;
    width: 320px;
}
.filter-status {
    left: 1020px;
    width: 320px;
}
.option-container .accept-btn {
    background-color: #E6F6F5;
    color: #03a89e;
    transition: 0.2s;
    text-align: center;
    font-weight: 600;
}
.option-container .accept-btn:hover {
    background-color: #c8e3e2;
}
.option-container .refuse-btn {
    background-color: #f9ebf1;
    color: #ff69b4;
    transition: 0.2s;
    text-align: center;
    font-weight: 600;
}
.option-container .refuse-btn:hover {
    background-color: #efe1e7;
}