.change-password-box {
    background-color: white;
    padding: 40px;
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 110px;
    border-radius: 8px;
}
.change-password-box h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
    color: #191778;
}
.change-password-box .input-field {
    margin: 30px 0;
}
.change-password-box .input-field p {
    font-size: 17px;
    color: #191778;
    font-weight: bold;
    text-align: left;
    margin-bottom: 8px;
}
.change-password-box .input-field input {
    height: 45px;
    width: 100%;
    font-size: 20px;
    color: #191778;
    box-sizing: border-box;
    padding: 5px 50px 5px 10px;
    background-color: #dde4f2;
    border-radius: 4px;
    border: none;
}
.change-password-box .btn {
    width: 160px;
    border-radius: 20px;
    background-color: #3a36db;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
}
.change-password-box .btn:hover {
    background-color: #191778;
    transition: 0.3s;
}